.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 75px auto auto;
    gap: 2px; 
    width: 100%;
    height: 70vh;
    grid-template-areas: 
    "header header header "
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.header {grid-area: header;
    background-color: #3f2717;
    }

    
.nav {
    grid-area: nav;
    background-color: #2e1102d5;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    border-radius: 9px;
}
    .main {grid-area: main;
    background-color: #c8a589ab;
    }
    .aside {grid-area: aside;
    background-color: #efc1a2
    ;
    
    }
    .footer {grid-area: footer;
    background-color: #edcead;
    }

    .header{
        grid-area: header;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    .headerIzquierda{
        flex: 2;
        font-size: 100px;
        text-align: left; 
        color: #f2f2f2;
        justify-content: center;
        font-weight: normal;
        width: 100%;
        margin-left: 30px;
    }
    .imgT {
        width: auto;
        height: auto;
        float: left;
        margin-left: 30px;
        transition: transform 2s ease-in-out;
    }
    
    .imgT:hover {
        transform: translateX(50px); 
    }
    .headerDerecha{
        flex: 1; 
        width: 100%;
        margin-right: 40px;
    }
    .img{
        width: 150px;
        height: 150px;
        float: right;
        transition: 0.5s;
        margin-right: 35px;
    }
    .img:hover{
        width: 200px;
        height: 200px;
    }
    
    .nav ul {
        justify-content: center;
        list-style: none;
        display: flex;
        gap: 15px;
        padding: 0;
        margin: 0;
    }
    
    .nav ul li {
        display: inline-block;
    }
    
    .nav ul li a {
        padding: 10px 33px;
        background: linear-gradient(to bottom, #462508, #d9a784);
        border-radius: 8px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        text-align: center;
        border: 3px solid #b97d5e;
    }
    
    .nav ul li a:hover {
        background: linear-gradient(to bottom, #d9a784, #c28f6d);
        border-color: #9b5d3c;
        transform: translateY(-2px);
    }
    
.primero{
    width: 1300px;
    height: 1000px;
    border: 5px solid #8a2f01ce;
    position: relative;

}

.mapaAfrica{
    width: 515px;
    height: 525px;
    position: absolute; 
    margin-left: 10px; 
    margin-top: 80px;
    animation: africa 10s infinite ;
    
}
@keyframes africa{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }

    100%{
        transform: translateY(300px);
        opacity: 1;
    }
}

.mapaEtiopia{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 35px;
    margin-left: 540px;     
}


.GeografiaEtiopia{
    width: 380px;
    height: 170px;
    border: 4px solid #be5a27;
    margin-left: 880px;
    margin-top: -977px;
    position: absolute;
    background-color: #ffefe0; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    color: #5a2d0c; 
}

.mapaKenia{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 280px;
    margin-left: 540px;
     
}



.GeografiaKenia{
    width: 380px;
    height: 170px;
    border: 4px solid #be5a27;
    margin-left: 880px;
    margin-top: -750px;
    position: absolute;
    background-color: #ffefe0; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    color: #5a2d0c; 
    transition: all 0.3s ease-in-out;
}

.mapaUganda{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 525px;
    margin-left: 540px;
     
}

.GeografiaUganda{
    width: 380px;
    height: 170px;
    border: 4px solid #be5a27;
    margin-left: 880px;
    margin-top: -517px;
    position: absolute;
    background-color: #ffefe0; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    color: #5a2d0c; 
    transition: all 0.3s ease-in-out;
}


.mapaRuanda{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 760px;
    margin-left: 540px;
}

.GeografiaRuanda{
    width: 380px;
    height: 170px;
    border: 4px solid #be5a27;
    margin-left: 880px;
    margin-top: -282px;
    position: absolute;
    background-color: #ffefe0; 
    border-radius: 10px; 
    padding: 15px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    color: #5a2d0c; 
    transition: all 0.3s ease-in-out;
}


.footerInicio {
        width: 100%;
        height: 55px;
        background-color: #8a2f01ce;
        color: white;
        font-size: 27px;
        text-align: center;
    
    }
    
.frase {
        text-align: center;
        font-size: 9px;
    }
    
    
.logoAfrica {
        width: 132px;
        height: 150px;
        position: relative;
        left: 8px;
        border-radius: 90px;
    
    }


    .aside {
        width: 300px;
        padding: 20px;
        background-color: #8B5E3B;
        color: white;
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        margin-left: -370px;
    }
    .aside h2 {
        font-size: 24px;
        margin-bottom: 10px;}
    .contenedor-imagen img {
        width: 100%;
        border-radius: 10px;
    }
    
    
    
    
    
    .formulario {
        margin-top: 15px;
    }
    
    .formulario input {
        width: 90%;
        padding: 8px;
        margin: 5px 0;
        border: none;
        border-radius: 5px;
    }
    
    .formulario button {
        width: 95%;
        padding: 10px;
        background: #d4a373;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .formulario button:hover {
        background: #c08b5c;
    }

    footer > div.titulo {
        color: #e6c29b;
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        }
        footer{
            background-color: #3f2717;
            padding: auto;
            font-size: 30px;
            position: relative;
            width: 2000px;
        
        }
        footer > div.enlaces{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
        
        }
        footer a{
            text-decoration: none;
            background-color: #e6c29b;
            color: #3f2717;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            font-weight: bold;
        }
        footer a:hover{
            background-color: #3f2717;
            color: #e6c29b;
            transform: scale(1.1);
            transition: 0.8s;
        
        }
        footer p{
            text-align: center;
            justify-items: center;
            color: #e6c29b;
            margin-top: 30px;
            font-size: 22px;
        }

        
        
        
            
    