.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 75px auto auto;
    gap: 2px; 
    width: 100%;
    height: 70vh;
    grid-template-areas: 
    "header header header "
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.header {grid-area: header;
    background-color: #5b1f00;
    }
.Mapa{
    text-align: center;
    color: white;
    font-size: 97px;

}
    
    .nav  {grid-area: nav;
        background-color: #b94c1690;
        position: sticky;
        top: 0; 
        left: 0;
        z-index: 1000; 
        font-size: 20px;
        width: 100%;  
        box-shadow: 0 4px 2px -2px gray; 
        }
    .main {grid-area: main;
    background-color: #edcdac;
    }
    .aside {grid-area: aside;
    background-color: #efc1a2;
    
    }
    .footer {grid-area: footer;
    background-color: #edcead;
    }
    
    ul {
        justify-content: space-around;
        list-style: none;
        display: flex;
        gap: 10px;   
    }
    
    a {
        padding: 10px 33px;
        background-color: #e5bda2;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
.primero{
    width: 1300px;
    height: 1000px;
    border: 5px solid #8a2f01ce;
    position: relative;

}

.mapaAfrica{
    width: 515px;
    height: 525px;
    position: absolute; 
    margin-left: 10px; 
    margin-top: 80px;
    animation: africa 20s infinite ;
    
}
@keyframes africa{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }

    100%{
        transform: translateY(300px);
        opacity: 1;
    }
}

.mapaEtiopia{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 35px;
    margin-left: 540px;     
}


.GeografiaEtiopia{
    width: 400px;
    height: 190px;
    border: 4px solid #8a2f01ce;
    margin-left: 880px;
    margin-top: -977px;
    position: absolute;
    background-color: #b94c162f;
}

.mapaKenia{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 280px;
    margin-left: 540px;
     
}



.GeografiaKenia{
    width: 400px;
    height: 200px;
    border: 4px solid #8a2f01ce;
    margin-left: 880px;
    margin-top: -750px;
    position: absolute;
    background-color: #b94c162f;
}

.mapaUganda{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 525px;
    margin-left: 540px;
     
}



.GeografiaUganda{
    width: 400px;
    height: 150px;
    border: 4px solid #8a2f01ce;
    margin-left: 880px;
    margin-top: -510px;
    position: absolute;
    background-color: #b94c162f;
}


.mapaRuanda{
    width: 315px;
    height: 225px;
    position: absolute;
    margin-top: 760px;
    margin-left: 540px;
}

.GeografiaRuanda{
    width: 400px;
    height: 200px;
    border: 4px solid #8a2f01ce;
    margin-left: 880px;
    margin-top: -332px;
    position: absolute;
    background-color: #b94c162f;
}


.footerInicio {
        width: 100%;
        height: 55px;
        background-color: #8a2f01ce;
        color: white;
        font-size: 27px;
        text-align: center;
    
    }
    
.frase {
        text-align: center;
        font-size: 9px;
    }
    
    
.logoAfrica {
        width: 132px;
        height: 150px;
        position: relative;
        left: 8px;
        border-radius: 90px;
    
    }


    footer > div.titulo {
        color: #e6c29b;
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        }
        footer{
            background-color: #3f2717;
            padding: auto;
            font-size: 30px;
            position: relative;
            width: 1700px;
        
        }
        footer > div.enlaces{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
        
        }
        footer a{
            text-decoration: none;
            background-color: #e6c29b;
            color: #3f2717;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            font-weight: bold;
        }
        footer a:hover{
            background-color: #3f2717;
            color: #e6c29b;
            transform: scale(1.1);
            transition: 0.8s;
        
        }
        footer p{
            text-align: center;
            justify-items: center;
            color: #e6c29b;
            margin-top: 30px;
            font-size: 22px;
        }
        
        
            
    