
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 75px auto auto;
    gap: 2px; 
    width: 100%;
    height: 70vh;
    grid-template-areas: 
    "header header header "
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.header {grid-area: header;
background-color: #5b1f00;
}
.precios{
    font-size: 90px;
    text-align: center;
    color: white; 
    
}
.nav  {grid-area: nav;
background-color: #b94c1690;
position: sticky;
top: 0; 
left: 0;
z-index: 1000; 
font-size: 20px;
width: 100%;  
box-shadow: 0 4px 2px -2px gray; 
}
.main {grid-area: main;
background-color: #edcdac;
}
.aside {grid-area: aside;
background-color: #efc1a2;

box-shadow: 0 0 10px rgba(139, 69, 19, 0.7); 
}
.footer {grid-area: footer;
background-color: #edcead;
}


ul {
    justify-content: space-around;
    list-style: none;
    display: flex;
    gap: 10px;   
}

a {
    padding: 10px 33px;
    background-color: #e5bda2;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h1 {
    text-align: center;  
    font-size: 54px;
}
.africa1, .africa2, .africa4, .africa5 {
    justify-content: center; 
    align-items: center; 
    width: 300px;
    height: 300px;
    border-radius: 30%;
    padding-right: 35px;
      
}


.texto1 {
    text-align: justify; 
    font-size: 20px;
}

.texto2, .texto3, .texto4, .texto5 {
    text-align: justify; 
    font-size: 18px;
    width: 400px;
    height: 280px;
    background-color: #dcbaa4; 
    display: center;
    position: relative;
    left: 20%;
    
    
}

.video1 {
    position: absolute;
    right: 30%;
    top: 113%;
    
}
.video2 {
    position: absolute;
    right: 30%;
    top: 145%;
    
}
.video3 {
    position: absolute;
    right: 30%;
    top: 177%;
    
}
.video4 {
    position: absolute;
    right: 30%;
    top: 209%;
    
}

.africa {
    text-align: center;
}
.birrEtiope {
    width: 13%;
    height: 10vh;
    position: absolute;
    right:4%;
    top: 40%;
    animation-name: animacion1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
@keyframes animacion1{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }

    100%{
        opacity: 1;
    }
}

.banderaEtiope {
    width: 13%;
    height: 10vh;
    position: absolute;
    right:4%;
    top: 40%;
    animation-name: animacion2;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion2{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}








.banderaKenia {
    width: 300px;
    height: 89px;
    position: absolute;
    right:2%;
    top: 60%;
    animation-name: animacion3;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
@keyframes animacion3{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }

    100%{
        opacity: 1;
    }
}

.kenia {
    width: 13%;
    height: 10vh;
    position: absolute;
    right:4%;
    top: 60%;
    animation-name: animacion4;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion4{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}





.billeteUganda{
    width: 250px;
    height: 95px;
    position: absolute;
    right:3%;
    top: 82%;
    animation-name: animacion4;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
@keyframes animacion4{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }

    100%{
        opacity: 1;
    }
}

.banderaUganda {
    width: 350px;
    height: 95px;
    position: absolute;
    right: 0;
    top: 82%;
    animation-name: animacion5;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion5{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}





.billeteRuanda{
    width: 240px;
    height: 95px;
    position: absolute;
    right:3%;
    top: 102%;
    animation-name: animacion6;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
@keyframes animacion6{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }

    100%{
        opacity: 1;
    }
}

.banderaRuanda {
    width: 250px;
    height: 95px;
    position: absolute;
    right: 5%;
    top: 102%;
    animation-name: animacion7;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion7{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}


.cafeimagen1 {
    width: 250px;
    height: 215px;
    position: absolute;
    right: 2%;
    top: 120%;
    border-radius: 40px;
    animation-name: animacion7;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion7{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}

.cafeimagen2 {
    width: 250px;
    height: 215px;
    position: absolute;
    right: 2%;
    top: 120%;
    border-radius: 40px;
    animation-name: animacion7;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion7{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 50;

    }
    
    100%{
        opacity: 0;
    }
}

.cafeimagen3 {
    width: 250px;
    height: 215px;
    position: absolute;
    right: 2%;
    top: 145%;
    border-radius: 40px;
    animation-name: animacion7;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50;
}
@keyframes animacion7{
    0%{
        opacity: 50;
    }
    
    50% {
        opacity: 0;

    }
    
    100%{
        opacity: 50;
    }
}

.footerInicio {
    width: 100%;
    height: 55px;
    background-color: #8a2f01ce;
    color: white;
    font-size: 12px;

}

.frase {
    text-align: center;
    font-size: 9px;
}


.logoAfrica {
    width: 132px;
    height: 150px;
    position: relative;
    left: 8px;
    border-radius: 90px;

}



.formulario {
    width: 250px;
    height: 375px;
    margin-top: 1350px;
    margin-left: 16px;
    background-color: #f6e4d2; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 12px;
    font-weight: bold;
    color: #7d3c1b;
    text-align: center;
    margin-bottom: 5px;
}

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    color: #5a2d0c;
}

input, select {
    width: calc(100% - 10px);
    padding: 4px;
    margin-top: 3px;
    border: 1px solid #d1a382;
    border-radius: 5px;
    font-size: 10px;
    background: #fff;
}

.radio-group {
    display: flex;
    gap: 5px;
    font-size: 12px;
    align-items: center;
}

input {
    display: inline-block; 
}


button {
    width: 100%; 
    background: brown; 
    color: white; 
    border: none; 
    padding: 6px; 
    font-size: 14px; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 8px; 
}


button:hover {
    background: darkbrown; 
}








