.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 75px auto auto;
    gap: 3px; /*espacio entre elementos*/
    width: 100%;
    height: 70vh;
    grid-template-areas: 
    "header header header "
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.header {grid-area: header;
background-color: #5b1f00;
}
.precios{
    font-size: 90px;
    text-align: center;
    color: white;
    
}
.nav  {grid-area: nav;
background-color: #edcead;
position: sticky;
top: 0; 
left: 0;
z-index: 1000; 

}
.main {grid-area: main;
background-color: #edcdac;
}
.aside {grid-area: aside;
background-color: #d5a484;}
.footer {grid-area: footer;
background-color: #0b36a1;}

ul {
    justify-content: space-around;
    list-style: none;
    display: flex;
    gap: 10px;   
}

a {
    padding: 10px 33px;
    background-color: #e5bda2;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h1 {
    text-align: center;  
    font-size: 54px;
}
.africa1, .africa2, .africa4, .africa5 {
    justify-content: center; 
    align-items: center; 
    width: 300px;
    height: 300px;
    border-radius: 30%;
    padding-right: 35px;
      
}


.texto1 {
    text-align: justify; 
    font-size: 20px;
}

.texto2, .texto3, .texto4, .texto5 {
    text-align: justify; 
    font-size: 18px;
    width: 400px;
    height: 280px;
    background-color: #dcbaa4; 
    display: center;
    position: relative;
    left: 20%;
    
    
}

.video1 {
    position: absolute;
    right: 30%;
    top: 114%;
    
}
.video2 {
    position: absolute;
    right: 30%;
    top: 147%;
    
}
.video3 {
    position: absolute;
    right: 30%;
    top: 180%;
    
}
.video4 {
    position: absolute;
    right: 30%;
    top: 213%;
    
}

.birrEtiope {
    width: 60%;
    height: 10vh;
    animation-name: animacion1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
@keyframes animacion1{
    0%{
        opacity: 0;
    }
    
    50% {
        opacity: 1;

    }
    
    100%{
        opacity: 0;
    }
}





