.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 75px 700px auto;
    gap: 3px; /*espacio entre elementos*/
    width: 100%;
    height: 70vh;
    grid-template-areas: 
    "header header header "
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

.header {grid-area: header;
background-color: #5b1f00;}
.nav  {grid-area: nav;
background-color: #edcead;
position: sticky;
top: 0; 
z-index: 1000; 
}
.main {grid-area: main;
background-color: #edcdac;
}
.aside {grid-area: aside;
background-color: #3f2717;}
.footer {grid-area: footer;
background-color: #0b36a1;}

ul {
    justify-content: space-around;
    list-style: none;
    display: flex;
    gap: 10px;   
}

a {
    padding: 10px 33px;
    background-color: #e5bda2;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*html <img class="africa1" src="recursos/africa1.webp" alt="img africa">

.africa1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 68px;
    left: 55px;
    animation: animacion1 15s linear infinite;
    position: absolute;
}
@keyframes animacion1 {
    0% {
        left: 100%; 
    }
    100% {
        left: 0%; 
    }
}*/

.precios{
    font-size: 90px;
    text-align: center;
    color: white;
    
}




