body{
    background-color:  #ffd9b3;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "op1 op2 op3 op4 op5 op6"
    "txt1 txt1 txt2 txt2 txt2 txt2";
}
.container > div.header{
 grid-area: header;
 text-align: center;
 font-size: 90px; 
 background-color: ;
}
.container > div.txt1{
grid-area: txt1;
background-color: #ffd9b3;
color: #ffffff;
height: 500px;
width: 500px;
}
.container > div.txt2{
    grid-area: txt2;
    margin: 3px;
    background-color: #a18159;
    height: 700px;
    width: 1000px;
}
.container > div.op1{
 grid-area: "op1"; 
 text-align: center;
 font-size: 35px;
 text-decoration: none;
 font-weight: normal;
 background-color: #5b1f00;
 color: #ffffff;
 padding: 10px 20px;
border-radius: 20px;
margin: 8px;

 
}
.container > div.op2{
grid-area: "op2"; 
text-decoration: none;
text-align: center;
font-size: 35px;
font-weight: normal;
color: #ffffff;
background-color: #5b1f00;
border-radius: 20px;
padding: 10px 20px;
margin: 8px;
}
.container > div.op3{
grid-area: "op2"; 
text-decoration: none;
text-align: center;
font-size: 35px;
font-weight: normal;
color: #ffffff;
background-color: #5b1f00;
border-radius: 20px;
padding: 10px 20px;
margin: 8px;
}
.container > div.op4{
grid-area: "op4"; 
text-decoration: none;
text-align: center;
font-size: 35px;
font-weight: normal;
color: #ffffff;
background-color: #5b1f00;
border-radius: 20px;
padding: 10px 20px;
margin: 8px;
}
.container > div.op5{
grid-area: "op5"; 
text-decoration: none;
text-align: center;
font-size: 35px;
font-weight: normal;
color: #ffffff;
background-color: #5b1f00;
border-radius: 20px;
padding: 10px 20px;
margin: 8px;
}
.container > div.op6{
grid-area: "op6"; 
text-decoration: none;
text-align: center;
font-size: 35px;
font-weight: normal;
color: #ffffff;
background-color: #5b1f00;
border-radius: 20px;
padding: 10px 20px;
margin: 8px;
}
.container2 > div.header{
 grid-area: header;
 text-align: center;
 font-size: 90px;
 color: #ffffff;
background-color: #5b1f00;
border-radius: 30px;
}
.container3 > div.header{
    grid-area: header;
 text-align: center;
 font-size: 90px;
 color: #ffffff;
background-color: #5b1f00;
border-radius: 30px;
}
.container4 > div.header{
    grid-area: header;
 text-align: center;
 font-size: 90px;
 color: #ffffff;
background-color: #5b1f00;
border-radius: 30px;
}
.container5 > div.header{
    grid-area: header;
 text-align: center;
 font-size: 90px;
 color: #ffffff;
background-color: #5b1f00;
border-radius: 30px;
}
.container6 > div.header{
    grid-area: header;
 text-align: center;
 font-size: 90px;
 color: #ffffff;
background-color: #5b1f00;
border-radius: 30px;
}
.boton{
color: #ffffff;
text-align: center;
background-color: #5b1f00;
border-radius: 30px;
text-decoration: none;


}
.boton:hover{
opacity: 0.3;
color: #a18159;
}



