body{
    background-color:  #f2f2f2;
    height: 100%;
    margin: 0;
    padding: 0; 
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "op1 op2 op3 op4 op5 op6"
    "txt1 txt1 txt2 txt2 txt2 txt2";
    background-color:#482918;
}
.header{
    grid-area: header;
    display: flex;
    height: fit-content;
}
.op1, .op2, .op3, .op4, .op5, .op6{
    background-color: #e6c29b;
    height: 70px; 
    text-align: center;
}
.headerDerecha, .headerIzquierda{
    flex: 1;
    font-size: 100px;
    text-align: center; 
    color:  #f2f2f2;
    justify-content: center;
}
.img{
    width: 150px;
    height: 150px;
    float: right;
    transition: 0.5s;
}
.img:hover{
    width: 300px;
    height: 300px;
}
.boton{
   padding: 10px 30px;
   text-decoration: none;
   font-size: 35px;
   color: #f2f2f2;
   border-radius: 5px;
   transition: 0.4s;
   display: inline-block
}
.boton:hover{
    background-color: #482918;
    opacity: 0.4;
    padding: 15px 35px;
}

